In [3]:
install.packages("readxl")
library(readxl)

also installing the dependency 'cpp11'

  There are binary versions available but the source versions are later:
       binary source needs_compilation
cpp11   0.2.7  0.4.3             FALSE
readxl  1.3.1  1.4.2              TRUE

  Binaries will be installed

Warning message:
"package 'readxl' is in use and will not be installed"installing the source package 'cpp11'

In [4]:
ageandheight <- read_excel("ageandheight.xls", sheet = "Hoja2")

In [5]:
ageandheight

   age height no_siblings
1  18  76.10  1
2  19  77.00  2
3  20  78.10  3
4  21  78.20  2
5  22  78.80  0
6  23  79.70  1
7  24   7.99  5
8  25  81.10  0
9  26  81.20  1
10 27  81.80  4
11 28  82.80  1
12 29  83.50  5

In [6]:
lmheight <- lm(height~age, data = ageandheight)

In [7]:
summary(lmheight)

Call:
lm(formula = height ~ age, data = ageandheight)

Residuals:
    Min      1Q  Median      3Q     Max
-66.059   5.193   5.810   6.617   7.533

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  64.8445    43.3815   1.495    0.166
age           0.3835     1.8264   0.210    0.838

Residual standard error: 21.84 on 10 degrees of freedom
Multiple R-squared:  0.00439,	Adjusted R-squared:  -0.09517
F-statistic: 0.0441 on 1 and 10 DF,  p-value: 0.8379

In [8]:
lmheight2 <- lm(height~age + no_siblings, data = ageandheight)

In [9]:
summary(lmheight2)

Call:
lm(formula = height ~ age + no_siblings, data = ageandheight)

Residuals:
    Min      1Q  Median      3Q     Max
-47.808  -4.521   1.002  10.025  21.186

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   56.597     39.166   1.445   0.1823
age            1.303      1.712   0.761   0.4660
no_siblings   -6.415      3.464  -1.852   0.0971 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 19.59 on 9 degrees of freedom
Multiple R-squared:  0.2791,	Adjusted R-squared:  0.1189
F-statistic: 1.742 on 2 and 9 DF,  p-value: 0.2293

In [ ]:
#residuals is the differences between the real values and the predicted values